---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("blog");
---

<Layout title="Articles">
  <main>
    {
      allPosts.map((post) => {
        return (
          <div class="article-wrap">
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            <p class="small-text">{post.data.description}</p>
          </div>
        );
      })
    }
  </main>
</Layout>

<style>
  a {
    text-decoration: none;
    color: var(--main-text);
  }
  .small-text {
    font-weight: 300;
    font-style: italic;
    color: var(--small-text);
  }
</style>
