---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort((frst, sec) => {
  return -(
    new Date(frst.data.date).getTime() - new Date(sec.data.date).getTime()
  );
});
---

<Layout title="Články" description="Seznam článků blogu." type="website">
  <main>
    {
      allPosts.map((post) => {
        return (
          <div class="article-wrap">
            <h2>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h2>
            <p class="small-text">{post.data.description}</p>
          </div>
        );
      })
    }
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  h2 {
    font-size: 1.3em;
  }
  a {
    text-decoration: none;
    color: var(--main-text);
  }
  .small-text {
    font-weight: 300;
    color: var(--small-text);
  }
</style>
