---
import Images from "../components/Images.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Technologies from "../components/Technologies.vue";
import Layout from "../layouts/Layout.astro";

// vite, postcss, styledcomp, mongo, astro

const arr = [
  { name: "React", img: "/assets/react.png" },
  { name: "Vue", img: "/assets/vue.png" },
  { name: "Node", img: "/assets/node.png" },
  { name: "JavaScript", img: "/assets/js.png" },
  { name: "Next.js", img: "/assets/nextjs.png" },
  { name: "Figma", img: "/assets/figma.png" },
  { name: "TypeScript", img: "/assets/typescript.png" },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>ahoj, tady Josef</h1>
    <p class="basic-text">
      Jsem full-stack dev/student z Prahy, co se ve volném čase dostal z malých
      JS skriptů k Express a Next webovým aplikacím a ani omylem je nepovažuje
      za hranice, u kterých je dobré končit (koukám na tebe, Ruste).
    </p>
    <Images />
    <p class="basic-text">
      <!-- Většina mých projektů možná nemá zadavatele, ale rozhodně mají uživatele,
      o jejichž feedback se zajímám. Kalkulaček a aplikací fetchujících počasí v
      Praze se tu bát nemusíte (bojte se mých hot-takes na blogu). -->
    </p>
    <h2>Projekty</h2>
    <div class="card-wrap">
      <ProjectCard
        title="React Projekt"
        desc="Projekt co využívá React a Next.js"
        techs="React / Vite / Next.js"
      />
      <ProjectCard
        title="Vue Projekt"
        desc="Projekt co využívá Vue a Nuxt.js"
        techs="Vue / Pinia / Nuxt.js"
      />
    </div>
    <p class="basic-text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce
      consectetuer risus a nunc. Nulla accumsan.
    </p>
    <div class="tech-heading-wrap">
      <h2 class="tech-heading">Technologie</h2>
      <p class="hovering">Klikni na nás!</p>
    </div>
    <div class="tech-wrap">
      <Technologies tech={arr} client:visible />
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background-color: var(--main-backg);
    color: var(--main-text);
    padding: 32px 16px;
  }
  h1 {
    font-weight: 700;
  }
  .basic-text {
    padding: 24px 0;
    line-height: 1.6;
  }
  .card-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }
  .tech-heading-wrap {
    position: relative;
  }
  .hovering {
    position: absolute;
    top: 0.6em;
    left: 10em;
    font-size: 0.8em;
    rotate: -20deg;
    background-color: var(--inverse-backg);
    color: var(--inverse-text);
    padding: 4px;
    border-radius: 10px;
    animation: zoom 1500ms infinite alternate ease-in-out;
  }
  .tech-wrap {
    padding: 24px 0;
  }
  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
</style>
