---
import Images from "../components/Images.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Technologies from "../components/Technologies.vue";
import Layout from "../layouts/Layout.astro";

// vite, postcss, styledcomp, mongo, astro

const arr = [
  { name: "React", img: "/assets/react.png" },
  { name: "Vue", img: "/assets/vue.png" },
  { name: "Node", img: "/assets/node.png" },
  { name: "JavaScript", img: "/assets/js.png" },
  { name: "Next.js", img: "/assets/nextjs.png" },
  { name: "Figma", img: "/assets/figma.png" },
  { name: "TypeScript", img: "/assets/typescript.png" },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>ahoj, tady Josef</h1>
    <p class="basic-text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce
      consectetuer risus a nunc. Nulla accumsan.
    </p>
    <Images />
    <p class="basic-text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce
      consectetuer risus a nunc. Nulla accumsan.
    </p>
    <h2>Projekty</h2>
    <div class="card-wrap">
      <ProjectCard
        title="React Projekt"
        desc="Projekt co využívá React a Next.js"
        techs="React / Vite / Next.js"
      />
      <ProjectCard
        title="Vue Projekt"
        desc="Projekt co využívá Vue a Nuxt.js"
        techs="Vue / Pinia / Nuxt.js"
      />
    </div>
    <p class="basic-text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce
      consectetuer risus a nunc. Nulla accumsan.
    </p>
    <h2>Technologie</h2>
    <div class="tech-wrap">
      <Technologies tech={arr} client:visible />
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background-color: var(--backg-white);
    color: var(--text-dark);
    padding: 32px 16px;
  }
  h1 {
    font-weight: 700;
  }
  .basic-text {
    padding: 24px 0;
  }
  .card-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }
  .tech-wrap {
    padding: 24px 0;
  }
</style>
