---
import Images from "../components/Images.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>ahoj, tady Josef</h1>
    <p class="basic-text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce
      consectetuer risus a nunc. Nulla accumsan.
    </p>
    <Images />
    <p class="basic-text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce
      consectetuer risus a nunc. Nulla accumsan.
    </p>
    <h2>Projekty</h2>
    <div class="card-wrap">
      <ProjectCard
        title="React Projekt"
        desc="Projekt co využívá React a Next.js"
        techs="React / Vite / Next.js"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background-color: var(--backg-white);
    color: var(--text-dark);
    padding: 32px 16px;
  }
  h1 {
    font-weight: 700;
  }
  .basic-text {
    padding: 24px 0;
  }
  .card-wrap {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
  }
</style>
