---
interface Props {
  title: string;
}

import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <button type="button" class="toggle"
      >Change to light theme (or icon here)</button
    >
    <slot />
  </body>
</html>

<script>
  function calculateSettingAsThemeString({
    localStorageTheme,
    systemSettingDark,
  }: any): string {
    if (localStorageTheme !== null) {
      return localStorageTheme;
    }

    if (systemSettingDark.matches) {
      return "dark";
    }

    return "light";
  }

  const localStorageTheme = localStorage.getItem("theme");
  const systemSettingDark = window.matchMedia("(prefers-color-scheme: dark)");

  let currentThemeSetting = calculateSettingAsThemeString({
    localStorageTheme,
    systemSettingDark,
  });

  document
    .querySelector("html")
    ?.setAttribute("data-theme", currentThemeSetting);

  const button = document.querySelector(".toggle");

  button?.addEventListener("click", () => {
    const newTheme = currentThemeSetting === "dark" ? "light" : "dark";
    document.querySelector("html")?.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
    currentThemeSetting = newTheme;
  });
</script>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  [data-theme="light"] {
    --main-backg: #f7f7f7;
    --main-text: #1e1e1e;
    --interactive-backg: #fafafa;
    --small-text: #585858;
    --inverse-backg: #161616;
    --inverse-text: #e3e3e3;
  }
  [data-theme="dark"] {
    --main-backg: #161616;
    --main-text: #e3e3e3;
    --interactive-backg: #282828;
    --small-text: #e3e3e3;
    --inverse-backg: #f7f7f7;
    --inverse-text: #1e1e1e;
  }
  html {
    background-color: var(--main-backg);
  }
</style>
