---
interface Props {
  title: string;
}

import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";

import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<script src="../libs/darkmode.ts"></script>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  [data-theme="light"] {
    --main-backg: #f7f7f7;
    --main-text: #1e1e1e;
    --interactive-backg: #fafafa;
    --small-text: #585858;
    --inverse-backg: #161616;
    --inverse-text: #e3e3e3;
  }
  [data-theme="dark"] {
    --main-backg: #161616;
    --main-text: #e3e3e3;
    --interactive-backg: #282828;
    --small-text: #e3e3e3;
    --inverse-backg: #f7f7f7;
    --inverse-text: #1e1e1e;
  }
  html {
    background-color: var(--main-backg);
  }
  body {
    padding: 32px 16px;
  }
</style>
